.nav-link {
      color: rgb(86, 84, 84) !important; /* Vert clair avec !important pour forcer le style */
      font-weight: bold;
    }
    .nav-item {
      color: green !important; /* Vert clair avec !important pour forcer le style */
      font-weight: bold;
    }
 /* Styles pour .sidebar-bottom */
footer {
  background-color: #CCCCCC; /* Fond gris clair */
  padding: 20px; /* Espacement intérieur */
  border-top: 1px solid #ddd; /* Bordure supérieure */
  color: #333333; /* Couleur du texte */
}

/* Styles pour les éléments à l'intérieur du footer */
footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

footer .footer-content .footer-item {
  margin: 10px; /* Marge autour des éléments footer */
  flex: 1; /* Les éléments prennent toute la largeur disponible */
}
  .card-title my-2 mt-md-0 {
    color: #ffffff !important; /* Couleur blanche */
    font-weight: bold; /* Texte en gras */
}

.card-wrapper .card-text {
    color: #ffffff !important; /* Couleur blanche pour le texte */
}

.fa-adjust {
    color: #303030 !important; /* Couleur noire pour l'icône spécifique */
}
.d-flex flex-column justify-content-center text-muted
flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3 {
    display: none !important;
}